@keyframes doPopup {
  from {height: 15px;}
  to {height: 150px;}
}

.entry-container{
  width: 90%;
  position: absolute;
  overflow: hidden;
  z-index: 99;

  -webkit-animation-name: doPopup;
  -webkit-animation-duration:3s;
  -webkit-animation-iteration-count: 1;
  -webkit-animation-timing-function: ease;
  -webkit-animation-fill-mode: forwards;
}
.entry-box{
  width: calc(100% - 2px);
  word-wrap: break-word;

  background-color: var(--textarea-bg);

  height: 100px;
}
.send-button{
  width: 100%;
  height: 20px;
}
