.row{
  width: 100%;
  text-align: left;
}
.row-dark{
  background-color: darkgray;
}
.row-light{
  background-color: lightgray;
}

.message{
  font-size: 13px;
}

.message::before{
  content: "- ";
}
