.flex {
  display: flex;

  width: 100%;
  height: 100%;

  align-items: stretch;
  align-content: stretch;

  flex-basis: 0;
  flex-grow: 1;
}

.flex-horizontal{
  flex-direction: row;
}
.flex-vertical{
  flex-direction: column;
}
.flex-grid{
  flex-direction: column;
  flex-wrap: wrap;
}
